subscription_id                = "00000000-0000-0000-0000-000000000000"
location                       = "REPLACE_WITH_AZURE_REGION"
pipeline_principal_object_id   = null
bootstrap_principal_object_id  = "REPLACE_WITH_BOOTSTRAP_USER_OBJECT_ID"